{{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.password) }}

<button type="submit" class="btn">Register</button>

{{ form_end(registrationForm) }}
